/** RESETS **/
@import 'resets/_meyer-reset';
@import 'resets/_pxl';

/** PROJECT SPECIFIC **/
@import 'mixins/variables';
@import 'mixins/typography';

main {
  min-height: 100vh;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  @include loud-voice();
  padding: $pad*2 0;
}

h2 {
  @include standard-voice();
  padding: $pad 0;
}

p {
  @include standard-voice();
}

.inner-column {
  width: 98%;
  max-width: $bp-6;
  padding: $pad;
  margin-right: auto;
  margin-left: auto;
}
